
.ExplorePathWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5vh;
    place-items: center;
    justify-content: space-evenly;
    background-color: #E0E0E0;
}
.ExplorePath{
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;

}
.signin {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 1300px) {
    .ExplorePathWrapper {
        grid-template-columns: auto auto auto;
    }
}
@media all and (max-width: 750px) {
    .ExplorePathWrapper {
        grid-template-columns: auto auto;
    }
}